%h2.page-title
  = page_title! t('<%= singular_name %>.edit')

#content
  = render 'form'
  = link_to t('show'), @<%= singular_name %>, :class => 'button show'
  = link_to t('back'), <%= plural_name %>_path, :class => 'button back'
